// About Page Styles

.about-intro-banner {
    width: 100%;
    height: 100%;
    margin-top: 120px;
    padding: $body-padding;
    text-align: center;
    background-color: $off-white;

    @include mq($desktopScreen){
        padding: $body-padding-lg;
    }
    
    .about-intro-content {
        display: flex;
        flex-direction: column;
        align-items: center;

        h2 {
            font-size: $header-font;
        }
        p {
            font-size: $body-font;
        }
    }
}

.about-wrapper {
    .body {
        width: 100%;
        margin: 0 auto;

        .team-section {
            padding: $body-padding;
        
            .team-member {
                margin: 10% 0px;

                @include mq($desktopScreen){
                    margin: 5% 0px;
                    display: flex;
                    justify-content: space-around;
                }

                img {
                    @include mq($desktopScreen){
                        width: 60%;
                    }
                }
                .bio {

                    @include mq($desktopScreen){
                        margin-top: 15%;
                        padding: 0 2%;
                    }
                    .bio-title {
                        text-align: center;
                        padding: 15px 0px;
                        h3 {
                            font-size: $body-font;
                        }
                    }
                    .bio-content {
                        text-align: center;
                        font-size: $body-font;
                        line-height: 2em;
                        
                    }
                }
                
            }
            .team-member-02 {
                   
                img {
                    order: 1;
                    @include mq($desktopScreen){
                        order: 2;
                    }
                }
                .bio {
                    order: 2;
                    @include mq($desktopScreen){
                        order: 1;
                    }
                }
            }
        }
        .published-in {
            width: 100%;
            height: auto;
            margin: 0 auto;
            padding: $body-padding;
            background-image: url('../images/published-in-bg.png');
            background-position: top center;
            background-repeat: no-repeat;

            .published-in-content {
                text-align: center;
                
                h3 {
                    font-size: $header-font;
                }
                ul {
                    padding: 0;
                    li {
                        @include flatten(true,false);
                        padding: 5px 0;
                        font-size: $body-font;
                    }
                }
            }

            
            

        }
    }
}
