
.contact-wrapper {
    position: relative;
    width: 100%;
    height: auto;

    .contact-intro-banner {
        width: 100%;
        height: 100%;
        margin-top: 150px;

        .contact-intro-content {
            display: flex;
            flex-direction: column;
            align-items: center;
            margin-bottom: 70px;

            p {
                text-transform: uppercase;
                letter-spacing: 2px;
                font-size: 0.6em;
            }

            h2 {
                font-size: $header-font;

                span {
                    font-size: 0.7em;
                }
            }
        }
    }
        
}

.body-section {
    padding: 0 15px;

    @include mq($desktopScreen) {
        display: flex;
        justify-content: space-around;
        margin: 0 25%;
    }

    .contact-side-banner {
        margin: 0 auto;

        h2 {
            text-transform: uppercase;
            margin-bottom: 10px;
            text-align: center;
        }
    
        p {
            text-align: center;
            max-width: 500px;
            margin: 0 auto;

            @include mq ($tabletScreen) {
                max-width: 350px;
            }
        }

        img {
            display: block;
            margin: 0 auto;

            @include mq($tabletScreen) {
                max-width: 500px;
            }

            @include mq($desktopScreen) {
                max-width: 400px;
            }
        }
    
    }
    

}

.form {

    background-color: lighten($pink, 8.5);
    padding: 20px;
    display: flex;
    justify-content: center;
    max-width: 700px;
    margin: 0 auto;

    @include mq($desktopScreen) {
        min-width: 600px;
    }

    .c-main label, .c-main input, .c-main textarea {
        margin: 15px 0;
        width: 100%;
    }


    .c-main input, .c-main textarea {
        margin: 0;
        margin-bottom: 20px;
        padding: 7px 0;
        outline: none;
        max-width: 300px;
        border: 1px solid rgb(216, 216, 216);
    }

    .c-main input[type="text"]:focus, .c-main input[type="tel"]:focus, .c-main textarea:focus {
        background-color: white;

    }

    .pref-method, .add-features, .service-list {
        p {
            margin-top: 35px; 
            margin-bottom: 10px;
        }
    }

    .add-features.feature {
        width: 100%;

    }

    .message {
        padding-top: 35px;
    }

    .submit input {
        padding: 10px 30px;
        background-color: lighten($dark-color, 9);
        color: $off-white;
        border: none;
    }
    
}
