body {
    height: 100vh;
    overflow: hidden;
    background-image: url('../images/index-table-bg.jpg');
    background-size: cover;
    background-position: center 40%;

    @include mq($tabletScreen) {
        background-position: center 45%;
    }

    @include mq($desktopScreen) {
        background-position: center 47%;
    }

    header {
        height: 100%;
        position: relative;
    }

    .home-logo {
        display: flex;
        justify-content: center;
        padding-top: 30px;

        img {
            width: 140px;
        }
    }

    .home-name, .home-nav {
        display: flex;
        flex-direction: column;
        align-items: flex-end;
    }

    .home-name {
        padding-right: 11%;
        margin-top: 60px;
        color: $dark-color;

        h1 {
            font-size: 1.3em;
        }
        h2 {
            font-size: 1em;
        }
    }

    .home-nav {
        padding-right:10%;
        line-height: 1.7;

        ul {
            list-style-type: none;
            text-align: right;
        }

        a {
            text-decoration: none;
            color: $dark-color;
            padding: 3px 5px;
        
            &:hover {
                background-color: rgba($dark-color, 0.2);
                color: $off-white;
            }
        }
    }

    .home-sm-icons {
        position: absolute;
        bottom: 0;
        left: 50%;
        transform: translate(-50%, -50%);

        ul {
            padding: 0;
            list-style-type: none;
            width: 300px;
            display: flex;
            justify-content: space-evenly;
        }

        a  {
            font-size: 1.2em;
            color: $off-white;
            transition: color 0.2s ease-in;

            &:hover {
                color: $dark-color;
            }
        }

    }

}