// Variables

// Font
@import url('https://fonts.googleapis.com/css?family=Allura|Cormorant+Garamond:400,700|Raleway:400,700&display=swap');

// Fancy font
$allura: 'Allura';             
// Header 
$comorant: 'Cormorant Garamond', serif;
// Body
$raleway: 'Raleway',sans-serif;
// font sizes
$header-font: 1.8em;
$body-font: 0.9em;
$nav-font: 1.2em;

// Colors
$off-white: #f8f9fa;
$white: #ffffff;
$pink: #e8dadb;
$dark-pink: #a87074;
$dark-color: #3a3434;
$light-grey: rgb(136, 136, 136);

// Padding variables
$body-padding: 5% 15%;
$body-padding-lg: 5% 37%;

// Media Query Breakpoints
@function em($px,$bc: 16){
    @return #{$px/$bc}em;
}
$mobileScreen: em(320);
$tabletScreen: em(560);
$desktopScreen: em(1080);